* {
        box-sizing: border-box;
}
.container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
}
.row:before,
.row:after {
        content:"";
        display: table;
        clear: both;
}
[class*="col-"]{
        width: 100%;
        padding: 12px;
        float: left;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (orientation: landscape) {
    /* For desktop: */
    .col-auto {width: auto;} 
    .col-1 {width: 16%;}
    .col-2 {width: 100%;}
  }
.rt-float{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}