* {
        box-sizing: border-box;
}
.container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
}
.row:before,
.row:after {
        content:"";
        display: table;
        clear: both;
}
[class*="col-"]{
        width: 100%;
        padding: 12px;
        float: left;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (orientation: landscape) {
    /* For desktop: */
    .col-1 {width: 16%;}
    .col-2 {width: 100%;}
  }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    border-style: outset; 
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    height: auto;
    width: auto;
    text-decoration: none;
}

nav li a:hover {
    background-color: #333;
    color: white;
}